<app-header></app-header>
<div class="container">
    <h1>Page Not Found</h1>
    <h2>Ah, the dreaded 404. Lets get you back on enother page</h2>
    
    <br> <hr><h2>OR</h2> <hr><br>
    <h2>You can see photos of very cute cats that I left here =></h2>
    <ul>
        <li>
            <img src="assets/img/err404/94009.jpg">
        </li>
        <li>
            <img src="assets/img/err404/maxresdefault.jpg">
        </li>
        <li>
            <img src="assets/img/err404/cute-cat-videos-lede.jpg">
        </li>
        <li>
            <img src="assets/img/err404/cute-cat-photos-1593441022.jpg">
        </li>
        <li>
            <img src="assets/img/err404/692e6421912e29184674dd58ef9f5e18.jpg">
        </li>
    </ul>
</div>
